:root {
    --theme-name:   "Dark";
    --theme-author: "Order";

    --accent:       #b42fe4;
    --accent-dim:   #a328cf;
    --accent-dim-2: #9928c2;
    --accent-trans: #b42fe448;

    --danger:       #e41e1e;
    --danger-dim-1: #b61818;
    --danger-dim-2: #8a1010;

    --apply:       #2ac02a;
    --apply-dim-1: #1d861d;
    --apply-dim-2: #146414;

    --red:    #e41e1e;
    --yellow: #c7c72c;
    --green:  #2ac02a;
    --rainbow-grad: linear-gradient(45deg, #e03434 0%,
                                           #fba02a 16%,
                                           #ffe923 32%,
                                           #7bff23 48%,
                                           #23ffc8 64%,
                                           #2332ff 80%,
                                           #ff23cf 100%);
    
    --default-shade-1:       #0e0e0e;
    --default-shade-2:       #111111;
    --default-shade-3:       #141414;
    --default-shade-3-trans: #141414df;
    --default-shade-4:       #181818;
    --default-shade-4-trans: #181818df;
    --default-shade-5:       #1a1a1a;
    --default-shade-6:       #1c1c1c;
    --default-shade-7:       #1d1d1d;

    --font-size: 9pt;
    --danger-foreground: #efefef;
    --apply-foreground:  #efefef;
    --accent-foreground: #efefef;
    --foreground-1:      #7e7d7d;
    --foreground-2:      #adadad;
    --foreground:        #efefef;

    --shadow: #00000069;

    --darken-icon: 0%;
}