:root {
    --theme-name:   Dark;
    --theme-author: Order;

    --danger:       #e41e1e;
    --danger-dim-1: #b61818;
    --danger-dim-2: #8a1010;

    --apply:       #2ac02a;
    --apply-dim-1: #1d861d;
    --apply-dim-2: #146414;

    --red:    #e41e1e;
    --yellow: #c7c72c;
    --green:  #2ac02a;
    --rainbow-grad: linear-gradient(90deg, #fa1b1b, #fab31b);
    
    --background-c1:       #1a1a1a;
    --background-c2:       #1d1d1d;
    --background-c1-trans: #1a1a1aaf;
    --background-c2-trans: #1d1d1daf;

    --shadow-dark:  #20202025;
    --shadow-light: #b3b3b30f;

    --danger-foreground: #efefef;
    --apply-foreground:  #efefef;
    --foreground:        #efefef;
    --foreground-1:      #7e7d7d;
    --foreground-2:      #adadad;

    --shadow:  3px  3px 8px var(--shadow-dark),
              -3px -3px 8px var(--shadow-light);

    --shadow-active:  3px  3px 8px var(--shadow-dark),
                     -3px -3px 8px var(--shadow-light)
                     inset;

    --border: 1px solid #ffffff04;

    --darken-icon: 0%;
}