:root {
    --theme-name:   Dark;
    --theme-author: Yamka;

    --danger:       #e41e1e;
    --danger-dim-1: #b61818;
    --danger-dim-2: #8a1010;

    --apply:       #2ac02a;
    --apply-dim-1: #1d861d;
    --apply-dim-2: #146414;

    --red:    #e41e1e;
    --yellow: #c7c72c;
    --green:  #2ac02a;
    --rainbow-grad: linear-gradient(90deg, #fa1b1b, #fab31b);
    
    --background:       #131519;
    --background-trans: #131519af;
    --bg-2:             #1c1f25;
    --bg-3:             #20242b;

    --danger-foreground: #efefef;
    --apply-foreground:  #efefef;
    --foreground:        #dbdbdb;
    --foreground-1:      #a7a7a7;
    --foreground-2:      #979797;

    --shadow:        0 0 8px #11111167;

    --darken-icon: 0%;
}