:root {
    --theme-name:   Light;
    --theme-author: Order;

    --danger:       #e41e1e;
    --danger-dim-1: #b61818;
    --danger-dim-2: #8a1010;

    --apply:       #2ac02a;
    --apply-dim-1: #1d861d;
    --apply-dim-2: #146414;

    --red:    #e41e1e;
    --yellow: #c7c72c;
    --green:  #2ac02a;
    --rainbow-grad: linear-gradient(90deg, #fa1b1b, #fab31b);
    
    --default-shade-1:       #dbd9d0;
    --default-shade-2:       #e0dcd1;
    --default-shade-3:       #e7e5db;
    --default-shade-3-trans: #e7e5dbaf;
    --default-shade-4:       #ece7db;
    --default-shade-4-trans: #ece7dbaf;
    --default-shade-5:       #f5f1e5;
    --default-shade-6:       #f7f2e5;
    --default-shade-7:       #fffbef;
    
    --danger-foreground: #efefef;
    --apply-foreground:  #efefef;
    --foreground-1:      #3e4c50;
    --foreground-2:      #283235;
    --foreground:        #202729;
    
    --shadow: #ffffff5b;

    --darken-icon: 80%;
}