:root {
    --theme-name:   Light;
    --theme-author: Yamka;

    --red:          linear-gradient(90deg, #f31c00, #eb3700);
    --red-trans:    #f31c0090;
    --yellow:       linear-gradient(90deg, #e2df0e, #bae718);
    --yellow-trans: #e2df0e90;
    --green:        linear-gradient(90deg, #2ac02a, #2ac075);
    --green-trans:  #2ac02a90;
    --rainbow-grad: linear-gradient(90deg, #fa1b1b, #fab31b);
    
    --background:      #dfe6e7;
    --background-trans:#dfe6e7af;
    --bg-2:            #e6f0f0;
    --bg-3:            #eff7f8;
    
    --danger-foreground: #efefef;
    --apply-foreground:  #efefef;
    --foreground:        #242424;
    --foreground-1:      #3e4c50;
    --foreground-2:      #283235;

    --shadow: 0 0 16px #1111112a;

    --darken-icon: 80%;
}