/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

#user-select {
    align-items:     center;
    justify-content: center;
}

#user-select::before {
    content:   "SELECT AN ACCOUNT";
    color:     var(--foreground);
    font-size: var(--font-size);

    margin-bottom: 5px;
}

#user-select > div {
    position:       relative;
    display:        flex;
    flex-direction: row;
    align-items:    center;
    width:          200px;
    padding:        10px;
    margin:         5px 0;

    border-radius: 10px;
    box-shadow:    var(--shadow);
    background:    var(--bg-2);

    cursor: pointer;
}
#user-select > div > img {
    width:         36px;
    height:        36px;
    border-radius: 18px;

    margin-right: 10px;
}
#user-select > div > button {
    position: absolute;
    top:      15px;
    right:    10px;
}
#user-select > div > button > img {
    width:  18px;
    height: 18px;
}