.context-menu {
    position:       absolute;
    display:        flex;
    flex-direction: column;

    min-width:     150px;
    padding:       5px 0;
    background:    var(--background);
    box-shadow:    var(--shadow);
    border-radius: 5px;

    pointer-events: all;
}

.context-menu > img {
    /* this element is only used to trigger an "onload" */
    width:   0;
    height:  0;
}

.context-menu > div {
    display:        flex;
    flex-direction: row;

    padding:    5px 10px;
    cursor:     pointer;
    background: var(--background);
    transition: background 0.2s ease;
}
.context-menu > div:hover {
    background: var(--bg-3);
}

.context-menu > div.ctx-sep {
    height:     1px;
    padding:    0px;
    background: var(--bg-3);
}

.context-menu span {
    font-size: calc(var(--font-size) - 0.5pt);
}