@keyframes move-up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.e2ee-info {
    display:        flex;
    flex-direction: column;
    align-items:    center;

    background:    var(--bg-2);
    box-shadow:    var(--shadow);
    border-radius: 10px;
    padding:       10px;
    width:         400px;

    animation: move-up 100ms;
}

.e2ee-info > span,
.e2ee-info > code {
    text-align: center;
    color:      var(--foreground);
    font-size:  calc(var(--font-size) - 0.5pt);
}

.e2ee-info > code {
    font-family:      monospace;
    background-color: var(--bg-3);
    border-radius:    5px;
    padding:          5px;
    margin:           5px;

    user-select: text;
}

.e2ee-info > canvas {
    filter: blur(20px);
    -webkit-mask-image: url('../icons/e2ee-randomart-mask.png');
            mask-image: url('../icons/e2ee-randomart-mask.png');
}