#group-emoji-list {
    display:        flex;
    flex-direction: column;
}

#group-emoji-list > div {
    display:     flex;
    align-items: center;

    background:    var(--background);
    transition:    background 0.1s ease;
    border-radius: 5px;

    padding:       15px;
    margin-bottom: 10px;
}
#group-emoji-list > div > img {
    width:  36px;
    height: 36px;
    margin-right: 10px;
}
#group-emoji-list > div > input {
    margin: 0 0 0 10px;
}
#group-emoji-list > div > button {
    margin-left: auto;
}