#group-panel-area {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: flex-start;
    align-items:     flex-start;
    align-content:   flex-start;
    
    padding: 10px;
}

.group-panel,
.group-action-panel {
    margin:  10px;

    background:    var(--background);
    border-radius: 10px;
    box-shadow:    var(--shadow);
    cursor:        pointer;

    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;

    width: 300px;
}
.group-action-panel {
    flex-direction: row;
    background: var(--bg-2);
}

.group-action-panel {
    padding: 16px 0;
}
.group-action-panel>img {
    width:  36px;
    height: 36px;
    margin-right: 10px;
}
.group-action-panel>span {
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    color:       var(--foreground);
}

.group-panel span>img {
    width:   16px;
    height:  16px;
    padding: 2px;
}
.group-panel span>img:last-of-type {
    margin-left: 8px;
}
.group-panel span {
    display:        flex;
    flex-direction: row;
    align-items:    center;
}

.group-panel>:nth-child(1) {
    background: var(--bg-2);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width:   -webkit-fill-available;

    display:        flex;
    flex-direction: row;
}
.group-panel.bottomless>:nth-child(1) {
    border-radius: 10px;
}
.group-panel>:nth-child(1)>img {
    width:  48px;
    height: 48px;
    border-radius: 24px;
    margin-right:  10px;
}
.group-panel>:nth-child(1)>div {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     flex-start;
}

.group-panel>:nth-child(2) {
    padding: 10px;
    width: -webkit-fill-available;

    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-items:     flex-start;
}

.gp-name {
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    color:       var(--foreground);
}
.gp-unread {
    margin-top: 10px;
}
.gp-unread,
.gp-channel {
    font-family: Montserrat, sans-serif;
    font-size:   calc(var(--font-size) - 1pt);
    color:       var(--foreground-1);
    transition:  color 0.1s ease;

    display:         flex;
    flex-direction:  row;
    justify-content: flex-start;
    align-items:     center;
}
.gp-channel:not(.more):hover {
    color: var(--foreground);
}
.gp-channel.more {
    padding-left: 16px;
}
.gp-unread  img,
.gp-channel img {
    width:   12px;
    height:  12px;
    padding: 2px;
}

.group-bubble {
    display:         flex;
    justify-content: center;
    align-items:     center;

    border-radius: 100px;
    padding:       0 6px;
    margin-left:   6px;

    background: var(--red);
    color:      var(--red-foreground);
}

.channel-bubble {
    display:         flex;
    justify-content: center;
    align-items:     center;

    border-radius: 100px;
    padding:       0 6px;
    margin-left:   4px;

    background: var(--red);
    color:      var(--red-foreground);
    font-size:  calc(var(--font-size) - 1pt);
}