.hover-text {
    z-index:    2500;
    position:   absolute;
    transition: top     0.1s ease,
                bottom  0.1s ease,
                left    0.1s ease,
                right   0.1s ease,
                opacity 0.2s ease;

    background:    var(--bg-2);
    padding:       5px;
    border-radius: 5px;
    box-shadow:    var(--shadow);
    font-size:     var(--font-size);
    opacity:       0;

    pointer-events: none;
}