#language-list {
    display: flex;
    flex-direction: column;
}

#language-list > div {
    display:     flex;
    align-items: center;

    background:    var(--background);
    transition:    background 0.1s ease;
    border-radius: 5px;

    padding:       10px 15px;
    margin-bottom: 10px;

    cursor: pointer;
}
#language-list > div > img {
    width:  36px;
    height: 36px;
    margin-right: 10px;
}
#language-list > div > span {
    margin-left: auto;
    color:       var(--foreground-1);
}
#language-list > div:hover,
#language-list > div.selected {
    background: var(--bg-3);
}