@charset "UTF-8"; 

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

@keyframes appear {
    0%   { transform: scale(0.0);  }
    1%   { transform: scale(0.5);  }
    75%  { transform: scale(1.05); }
    100% { transform: scale(1.0);  }
}
@keyframes disappear {
    0%   { transform: scale(1.0); opacity: 1; }
    99%  { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(0.0); opacity: 0; }
}

@keyframes dotPulse {
    0%   { background: var(--foreground-1); transform: scale(0.75) }
    50%  { background: var(--foreground);   transform: scale(1)    }
    100% { background: var(--foreground-1); transform: scale(0.75) }
}

:root {
    --accent-grad:       linear-gradient(-45deg, var(--accent), var(--accent-alt));
    --accent-grad-trans: linear-gradient(-45deg, var(--accent-trans), var(--accent-alt-trans));
    --accent-shadow:     0 0 8px var(--accent-trans);
    --accent-alt-shadow: 0 0 8px var(--accent-alt-trans);
}

body {
    padding: 0px;
    margin:  0px;

    background: var(--background);

    font-family: Montserrat, sans-serif;
    color:       var(--foreground);

    user-select: none;
    overflow:    hidden;
}

#main-layout-container {
    transition: filter 0.2s ease;
}
#main-layout-container.unfocused {
    filter: blur(25px);
    pointer-events: none;
}

span {
    font-size: var(--font-size);
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #00000000;
}
*::-webkit-scrollbar-thumb {
    background: var(--bg-2);
    border-radius: 5px;
}

p {
    margin: 5px 0 5px 0;

    font-family: Roboto;
    font-size:   var(--font-size);
    color:       var(--foregound);
}
h1, h2, h3, h4, h5, h6 {
    margin: 2em;
}
a {
    color: var(--accent);
}
pre {
    margin: 0;
}

h6 {
    margin:      0 0 20px 0;
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    color:       var(--foreground);
}


#capital-layout {
    border: none;
    border-spacing: 0;
    height: 100vh;
    width: 100vw;
}

#title-bar {
    -webkit-app-region: drag;
    height:             20px;
    text-align:         center;
    line-height:        20px;
    vertical-align:     middle;
    background:         var(--background);
    padding:            0px;
    margin:             0px;
}
#email-unconfirmed-bar {
    height:           24px;
    background:       var(--red);
    display:          flex;
    flex-direction:   row;
    justify-content:  center;
    align-items:      center;
    border-radius:    0 0 5px 5px;
}
#email-unconfirmed-bar span {
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    color:       var(--red-foreground);
}

#title-text, #title-status {
    font-size: var(--font-size);
    color: var(--foreground);
}
#title-text {
    position: fixed;
    top: 0px;
    left: 6px;
}
#title-status {
    margin-left: 10px;
}

textarea,
input {
    outline: none !important;

    box-sizing: border-box;
    padding:    0 10px;

    background:    var(--bg-3);
    border-radius: 5px;

    color:       var(--foreground);
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
}
textarea {
    resize: none;
}
input {
    height:     35px;
    margin-top: 5px;

    box-shadow: var(--shadow);
    border:     1px solid transparent;
    transition: border     0.1s ease,
                box-shadow 0.1s ease;
}
input:hover {
    border:     1px solid var(--accent-alt);
    box-shadow: var(--accent-alt-shadow);
}
input:focus {
    border:     1px solid var(--accent);
    box-shadow: var(--accent-shadow);
}

.fill-width {
    width: 100%;
}

button {
    outline: none !important;

    margin-top: 1em;
    height:     35px;
    padding:    0 15px 0 15px;

    background:    var(--bg-3);
    border-radius: 5px;
    border:        none;

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    color:       var(--foreground);
    transition:  color      0.1s ease,
                 padding    0.1s ease,
                 background 0.1s ease,
                 box-shadow 0.1s ease;

    box-shadow: var(--shadow);

    cursor: pointer;
}
button:not(.accent-button):not(.apply-button):not(.danger-button):not(.icon-button):active {
    box-shadow: var(--shadow);
    background: var(--background);
}

.accent-button {
    background: var(--accent-grad);
    color:      var(--accent-foreground);
    position:   relative;
}
.danger-button {
    background: var(--red);
    color:      var(--red-foreground);
    position:   relative;
}
.apply-button {
    background: var(--green);
    color:      var(--green-foreground);
    position:   relative;
}
.accent-button::before, .danger-button::before, .apply-button::before {
    content:  "";
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;

    border-radius: 5px;
    background:    #000000;
    opacity:       0;
    transition:    opacity 0.1s;
}
.accent-button:hover::before, .danger-button:hover::before, .apply-button:hover::before {
    opacity: 0.1;
}
.accent-button:active::before, .danger-button:active::before, .apply-button:active::before {
    opacity: 0.2;
}

.rules-accept-button {
    margin-top:    0;
    margin-bottom: 10px;
}

button.icon-button {
    background: transparent;
    transition: filter 0.1s ease, transform 0.1s ease;
    box-shadow: var(--shadow);

    border:     none;
    box-shadow: none;
    padding:    0 7px 0 7px;
    margin:     0;
}
button.icon-button:hover {
    filter: brightness(1.5);
}
button.icon-button img {
    max-width:  16px;
    max-height: 16px;
}

.cg-button:not(.group-icon) {
    padding: 5px;
    height:  fit-content;
}
.cg-button img,
.cg-img {
    filter: brightness(calc(100% - var(--darken-icon)));
}

*       > button.hover-show-button {
    opacity: 0;
    transition: opacity 0.1s ease;
}
*:hover > button.hover-show-button {
    opacity: 1;
}

#title-bar-buttons {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 2px;
}

.title-bar-button {
    background: transparent;
    border:     none;
    outline:    none;
    box-shadow: none;

    padding: 0 3px 0 3px;
    margin:  0;
    height: fit-content;

    cursor: pointer;
}

progress {
    padding:       0;
    margin-top:    5px;
    height:        10px;
    border-radius: 8px;
    border:        var(--border-thicc);
    box-shadow:    var(--shadow);
    background:    var(--background);
}
progress::-webkit-progress-bar {
    background:    var(--background);
    border-radius: 8px;
}
progress::-webkit-progress-value {
    transition: width 0.1s ease,
                color 0.1s ease;
    height:        10px;
    border-radius: 5px;
}
progress#mic-vol-val::-webkit-progress-value {
    transition: width 0.05s ease;
    background: var(--green);
    box-shadow: 0 0 4px var(--green-trans);
}
progress.password-strong::-webkit-progress-value {
    background:         var(--green);
    box-shadow: 0 0 4px var(--green-trans);
}
progress.password-medium::-webkit-progress-value {
    background:         var(--yellow);
    box-shadow: 0 0 4px var(--yellow-trans);
}
progress.password-weak::-webkit-progress-value {
    background:         var(--red);
    box-shadow: 0 0 4px var(--red-trans);
}

#password-strength-text {
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#password-strength-text.password-strong {
    background:          var(--green);
    text-shadow: 0 0 4px var(--green-trans);
}
#password-strength-text.password-medium {
    background:          var(--yellow);
    text-shadow: 0 0 4px var(--yellow-trans);
}
#password-strength-text.password-weak {
    background:          var(--red);
    text-shadow: 0 0 4px var(--red-trans);
}

.input-container {
    box-sizing: border-box;
    
    width: 100%;
}

label {
    margin-left: 5px;
}

#main-layout {
    border: none;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0;
}

#user-info-bar {
    background: var(--background);
    height: 48px;
    width: 100%;
    padding: 0;
    position: relative;
}

#central-field {
    background: var(--background);
    padding: 0;
}

#member-list-sidebar {
    background: var(--bg-2);
    width: 250px;
    padding: 0;
}

#member-list-friend-header,
#member-list-friend-type,
#member-list-group-header,
#user-search-bar {
    height: 40px;
    width:  250px;
    padding: 0 10px 0 10px;
    position: relative;

    background: var(--bg-2);

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);

    align-items: center;
}
#member-list-friend-header {
    border-bottom: 2px solid var(--background);
}
#member-list-group-header {
    height:      29px;
}

#user-search-bar {
    padding: 0 10px 10px 10px;
}
#friend-add {
    margin-left: 5px;
}

#friends-pending-in {
    position: relative;
}

#message-unread-sep {
    position: relative;
    z-index:  2000;
    margin:   0 20px 0 20px;
    height:   1px;
    background: var(--accent);
}

.bubble {
    display:         flex;
    justify-content: center;
    align-items:     center;

    position: absolute;
    top:      0px;
    right:    0px;

    border-radius: 100px;
    padding:       0 6px 0 6px;

    background: var(--red);
}
.bubble.hidden {
    display: none;
}
.user-avatar-container > .bubble {
    top:   -3px;
    right: -5px;
}
#message-unread-sep > .bubble {
    top:   -6px;
    right: 0px;
    background: var(--accent);
}
.bubble > span {
    font-size: 8pt;
    color:     var(--red-foreground);
}
#message-unread-sep > .bubble > span {
    color:     var(--accent-foreground);
}

.user-avatar-container {
    width:       fit-content;
    margin-left: 8px;
    margin-top:  8px;
    position:    relative;
}
.user-avatar {
    width:  32px;
    height: 32px;

    -webkit-mask-image: url('../icons/ava-mask.png');
            mask-image: url('../icons/ava-mask.png');

    cursor: pointer;
}
.tiny-avatar {
    width:  16px;
    height: 16px;
    margin-right:  6px;
    border-radius: 8px;

    -webkit-mask-image: none;
            mask-image: none;
}
.user-online {
    width:  9px;
    height: 9px;
    position: absolute;
    top:  21px;
    left: 21px;
}

.user-nickname-container {
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);

    position: absolute;
    left:     44px;
    top:      18px;

    cursor: pointer;
}
img.verified-badge.true {
    width:  12px;
    height: 12px;
    margin-right: 4px;
}
img.verified-badge:not(.true) {
    display: none;
}
.user-status:not(:empty) ~ .user-nickname-container {
    top: 10px;
}
.user-nickname {
    display: inline-block;
    max-width: 130px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-tag {
    color: var(--foreground-1);
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size);
}

.user-status {
    display:   inline-block;
    max-width: 190px;

    position: absolute;
    left: 44px;
    top:  24px;

    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
    
    font-family: Roboto;
    font-size:   var(--font-size);
}

.user-summary {
    position: relative;

    height: 48px;

    margin: 8px 8px 0 8px;
    padding: 0;

    background:    transparent;
    border-radius: 10px;
    transition:    background-color 0.1s ease;

    cursor: pointer;
}
.user-summary:hover {
    background: var(--bg-3);
    box-shadow: var(--shadow);
}

.friend-remove-button,
.friend-accept-button {
    position: absolute;
    right: 0px;
    top: 10px;
}
.friend-accept-button {
    right: 24px;
}



.darken-bg {
    position: fixed;

    width:   100%;
    top:     20px;
    left:    0;
    right:   0;
    bottom:  0;
    z-index: 1000;

    margin: auto;

    background: #0000007a;
}
.popup-bg {
    position: absolute;
    top:    0;
    bottom: 0;
    right:  0;
    left:   0;

    height:  100vh;
    z-index: 1000;
    margin:  auto;
}



.menu-exit {
    position: absolute;
    left:     10px;
    top:      10px;

    outline:    none !important;
    box-shadow: var(--shadow);

    width:  30px;
    height: 30px;

    border:        2px solid #505050;
    transition:    border 0.1s ease;
    border-radius: 15px;
    margin-top:    0;

    background:          url('../icons/close.png');
    background-size:     12px;
    background-repeat:   no-repeat;
    background-position: center;

    cursor: pointer;
    transform: scale(0.7);
}
.menu-exit:hover {
    border: 2px solid #707070;
}



.appearing {
    animation: appear    0.2s ease;
}
.disappearing {
    animation: disappear 0.2s ease;
}



.right {
    float: right;
}



.radio-switch {
    height: fit-content;
    width:  fit-content;

    padding: 5px;

    background:    var(--bg-3);
    border:        none;
    border-radius: 5px;
    box-shadow:    var(--shadow);

    color:      var(--foreground-1);
    transition: color 0.25s;

    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
}
.radio-switch > span {
    margin: 5px;
}
.radio-switch input[type="radio"] {
    display: none;
}
.radio-switch input[type="radio"]:checked + label {
    color: var(--foreground);
    transition: color 0.25s;
}


input[type="color"],
input[type="range"] {
    padding:       0;
    border:        none;
    border-radius: 10px;
}
input[type="color"] {
    padding:    0;
    width:      50px;
    box-shadow: none;
    background: transparent;
}
.status-sel:hover {
    color: var(--foreground-2);
    transition: color 0.25s;
    cursor: pointer;
}

#self-status-explainer {
    margin-top: 5px;
}

#self-mfa-enable-status {
    color: var(--foreground);
}



.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}



#mfa-qr-banner {
    width: fit-content;
    height: fit-content;

    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    padding: 20px;

    background: var(--background);
    border-radius: 10px;
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Montserrat, sans-serif;
    font-size: var(--font-size);
}



#central-field {
    position: relative;
    height: 100%;   
}


#message-input-container {
    height:  fit-content;
    width:   100%;
    margin:  0 0 20px 12px;
    padding: 10px;

    border-radius:    10px;
    background: var(--background);
    box-shadow: var(--shadow);
}

textarea.message-input {
    padding-top: 5px;
    border:     none;
    background: none;
    height:     unset;

    font-family: Roboto;
}
textarea.code-input {
    font-family: JetBrainsMono;
    border: none;
    background: var(--background);
    border-radius: 5px;

    padding-top: 5px;
}

#message-send-button {
    margin: 5px;
}

#message-section-add-btns {
    align-items: center;
}
#channel-typing,
#message-editing {
    margin-left: 20px;
    font-family: Montserrat, sans-serif;
}
#message-editing {
    color: var(--foreground-2);
}

#typing-dots div {
    width:  6px;
    height: 6px;

    border-radius: 4px;
    margin-left:   2px;

    animation: dotPulse 2s ease infinite;
}
#typing-dot-1 {
    animation-delay: 0s    !important;
}
#typing-dot-2 {
    animation-delay: 0.66s !important;
}
#typing-dot-3 {
    animation-delay: 1.33s !important;
}

#mention-list {
    display:        flex;
    flex-direction: column;
    overflow:       hidden;
    transition:     max-height 0.1s ease;
}
#mention-list:not(:empty) {
    margin: 0 0 8px 6px;
}
#mention-list:not(:empty)::before {
    font-size: calc(var(--font-size) - 1pt);
    color:     var(--foreground-1);
    content:   "USERS";
}
#mention-list > div {
    margin:         8px 0 0 0;
    display:        flex;
    flex-direction: row;
    align-items:    center;
    cursor:         pointer;
}
#mention-list > div > img {
    width:         24px;
    height:        24px;
    border-radius: 12px;
    margin-right:  5px;
}
#mention-list > div > span {
    font-size: var(--font-size);
    color:     var(--foreground);
}

.mention {
    padding:       3px;
    border-radius: 6px;
    background:    var(--accent-grad-trans);
    color:         var(--accent-foreground);

    opacity:    0.85;
    transition: opacity 0.1s ease;

    cursor: pointer;
}
.mention:hover {
    opacity: 1;
}

.loading-spinner {
    width:         72px;
    height:        12px;
    box-shadow:    var(--shadow);
    background:    var(--background);
    border:        var(--border);
    border-radius: 8px;
    padding:       0;

    position: relative;
}
@keyframes spinnerAnim {
    0%   { right: 0;    width: 20px; }
    50%  { right: 24px; width: 30px; }
    100% { right: 48px; width: 20px; }
}
.loading-spinner > div {
    height:        12px;
    border-radius: 8px;
    background:    var(--accent-grad);
    box-shadow:    0px 0px 8px var(--accent-trans);

    position:  absolute;
    animation: spinnerAnim alternate ease infinite 1s;
}

.message-file-section {
    background:    var(--background);
    border:        none;
    border-radius: 10px;

    min-width: 200px;

    margin-top: 5px;
    padding:    10px;

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);

    justify-content: space-between;
    box-shadow: var(--shadow);
}
.file-section-name {
    margin-top:  5px;
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
}
.message-file-header {
    color: var(--foreground-1);
}

span.fg-1 {
    color: var(--foreground-1)
}



#central-layout {
    position: absolute;
    top:      0;
    left:     0;
    right:    0;

    height: 100%;
}

#message-area {
    padding-bottom: 20px;
}
#message-area-title {
    width:        -webkit-fill-available;
    height:       fit-content;
    border-right: 2px solid var(--background);

    display:         flex;
    flex-direction:  column;
    align-items:     flex-start;
    justify-content: center;
}
#message-area-title > div:nth-child(1) {
    padding:     6px;
    width:       -webkit-fill-available;
    background:  var(--bg-2);
    align-items: center;
}

#message-container-area {
    max-height: 100%;
    height:     100%;
}
.scroll-area {
    height:   100%;
    display:  flex;
    overflow: hidden scroll;
}
#message-scroll-area {
    flex-direction: column-reverse;
    justify-items:  flex-end;
}

#message-area-header,
#message-area-explainer {
    padding: 10px;
    margin:  10px;

    background: var(--background);
    border-radius:    10px;
    box-shadow: var(--shadow);
}
#message-area-header p,
#message-area-explainer p {
    font-family: Montserrat, sans-serif;
}



.message {
    position: relative;

    margin:  8px 5px 0 5px;
    padding: 7px 7px 0 7px;

    background: var(--background);
    transition:       box-shadow       0.1s ease,
                      background-color 0.1s ease;
    border-radius:    10px;

    vertical-align: top;
}
.message.short-message {
    padding: 0 2px 2px 2px;
    margin:  3px 0 0 42px;
}
.message:hover {
    background: var(--background);
    box-shadow: var(--shadow);
    z-index:          250;
}

.message-user-nickname {
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
}
.message-avatar-container {
    width: 32px;
    height: 32px;
    position: relative;
}
.reply-avatar-container {
    align-items: center;
}
.message-avatar {
    border-radius: 16px;

    -webkit-mask-image: none;
            mask-image: none;
}

.message-content {
    margin-left: 10px;
}

.message-quote-section,
.message-text-section {
    margin-top: 5px;
    vertical-align: baseline;

    font-family: Roboto;
    user-select: text;

    display: flex;
    flex-direction: column;
}
.message-quote-section > span,
.message-text-section > span {
    white-space: pre-wrap;
    align-items: center;
    margin: 3px 0;
}
.message-quote-section span > *:not(img.emoji),
.message-text-section span > *:not(img.emoji) {
    transform: translateY(3px);
}
.message-quote-section span:empty::before,
.message-text-section span:empty::before {
    content: "\200b"; /* zero width space */
}

.message-quote-section {
    padding: 10px;

    background:    var(--background) !important;
    border-radius: 10px;
    box-shadow:    var(--shadow);
}
div.message-quote-section {
    cursor: pointer;
}
.message-code-section {
    margin-top: 5px;
    padding: 5px;

    border-radius: 5px;

    font-family: JetBrainsMono;
    font-size:   var(--font-size);

    user-select: text;
}

.message-img-section-container {
    position: relative;
}
.message-img-section-fake {
    max-width:  500px;
    max-height: 250px;
    width:   auto;
    height:  auto;

    border-radius: 5px;
}
.message-img-section {
    display: block;

    margin-top: 5px;

    max-width:  500px;
    max-height: 250px;
    width:   auto;
    height:  auto;

    border-radius: 5px;
    cursor: pointer;
}
canvas.message-img-section {
    opacity:    1;
    transition: opacity 0.2s ease;
    z-index:    125;
}
canvas.message-img-section.deblur {
    opacity: 0;
}

.message-e2ee-section {
    display:        flex;
    flex-direction: column;
    
    padding:       10px;
    background:    var(--green-trans);
    border-radius: 10px;
    box-shadow:    var(--shadow);
    margin-top: 5px;
}
.message-e2ee-section > span {
    color:      var(--foreground);
    font-size:  var(--font-size);
    margin-top: 5px;
}
.message-e2ee-section > span:nth-child(1) {
    font-weight: bold;
}
.message-e2ee-section > span > code {
    background:    var(--background);
    padding:       4px;
    border-radius: 4px;
}

.message-time {
    margin-left: 5px;

    color: var(--foreground-1);
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size);
}

iframe {
    margin-top: 5px;

    border: none;
    border-radius: 5px;
}

img.emoji {
    width: 17px;
}
img.large-emoji {
    width: 40px;
}


.message > .message-action-bar {
    position: absolute;
    right:     5px;
    top:     -10px;
    padding:   3px;

    opacity:    0;
    transition: opacity 0.2s ease;

    border-radius:    5px;
    background: var(--background);
    box-shadow: var(--shadow);
}
.message:hover > .message-action-bar {
    opacity: 1;
}



#group-create-box {
    align-items: center;
    font-size: calc(var(--font-size) + 6pt);
}
#group-create-box span:nth-child(4) {
    margin-top: 20px;
}



#channel-list-sidebar {
    width:   250px;
    padding: 0;
    background: var(--background);
    border-radius:    10px 0 0 0;
}
#channel-list-container {
    height: 100%;
}

#channel-list {
    padding: 10px;
    width: 100%;
}

.role-button,
.channel-button {
    margin-bottom: 10px;
    padding: 10px;

    background:    var(--background);
    border-radius: 5px;
    transition:    background-color 0.1s ease;

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);

    cursor: pointer;
}
.role-button:hover,
.channel-button:hover,
.channel-button-selected {
    background: var(--bg-2);
    box-shadow: var(--shadow);
}

.role-button {
    margin-bottom: 0;
    margin-top:    10px;
}

#channel-list-header {
    height: 20px;

    padding: 10px;
    border-radius: 0 0 0 10px;
    border-right:  2px solid var(--background);

    background: var(--bg-2);
    transition: background-color 0.1s ease;

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);

    cursor: pointer;

    align-items: center;
}
#channel-list-header:hover {
    background: var(--background);
}
#group-leave {
    height: unset;
}



#connecting-screen {
    width:  100%;
    height: 100%;

    background: var(--background);

    align-items:     center;
    justify-content: center;
}
#connecting-screen > * {
    margin-top: 10px;
}
#connecting-screen > span {
    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    margin-top:  16px;
}
#connecting-screen > span:nth-child(1) {
    text-shadow: 0 0 4px var(--accent-trans);
    color:       var(--accent);
    font-size:   calc(var(--font-size) + 4pt);
}