@charset "UTF-8"; 

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf)
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

@keyframes appear {
    0%   { transform: scale(0.0);  }
    1%   { transform: scale(0.5);  }
    75%  { transform: scale(1.05); }
    100% { transform: scale(1.0);  }
}
@keyframes disappear {
    0%   { transform: scale(1.0); opacity: 1; }
    99%  { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(0.0); opacity: 0; }
}

@keyframes dotPulse {
    0%   { background-color: var(--foreground-1); transform: scale(0.75) }
    50%  { background-color: var(--foreground);   transform: scale(1)    }
    100% { background-color: var(--foreground-1); transform: scale(0.75) }
}

body {
    padding: 0px;
    margin:  0px;

    background-color: var(--shade-1);

    font-family: Montserrat;
    color:       var(--foreground);

    user-select: none;
    overflow:    hidden;
}

#main-layout-container {
    transition: filter 0.2s ease;
}
#main-layout-container.unfocused {
    filter: blur(10px);
    pointer-events: none;
}

span {
    font-size: var(--font-size);
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #00000000;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--shade-7);
    border-radius: 5px;
}

p {
    margin: 5px 0 5px 0;

    font-family: Roboto;
    font-size:   var(--font-size);
    color:       var(--foregound);
}
h1, h2, h3, h4, h5, h6 {
    margin: 2em;
}
a {
    color: var(--accent);
}
pre {
    margin: 0;
}

h6 {
    margin:      0 0 20px 0;
    font-family: Montserrat;
    font-size:   var(--font-size);
    color:       var(--foreground);
}


#capital-layout {
    border: none;
    border-spacing: 0;
    height: 100vh;
    width: 100vw;
}

#title-bar {
    -webkit-app-region: drag;
    height:             20px;
    text-align:         center;
    line-height:        20px;
    vertical-align:     middle;
    background-color:   var(--shade-1);
    padding:            0px;
    margin:             0px;
}
#email-unconfirmed-bar {
    height:           24px;
    background-color: var(--danger-dim-2);
    display:          flex;
    flex-direction:   row;
    justify-content:  center;
    align-items:      center;
    border-radius:    0 0 5px 5px;
}
#email-unconfirmed-bar span {
    font-family: Montserrat;
    font-size:   var(--font-size);
    color:       var(--danger-foreground);
}

#title-text, #title-status {
    font-size: var(--font-size);
    color: var(--foreground);
}
#title-text {
    position: fixed;
    top: 0px;
    left: 6px;
}
#title-status {
    margin-left: 10px;
}

textarea,
input {
    outline: none !important;

    box-sizing:border-box;
    padding-left:  10px;
    padding-right: 10px;

    background-color: var(--shade-4);
    border-radius: 3px;
    border: 0px solid transparent;
    transition: border-color 0.1s ease,
                box-shadow   0.1s ease;
    box-shadow: 0 0 3px var(--shadow) inset;

    color: var(--foreground);
    font-family: Montserrat;
    font-size: var(--font-size);
}
textarea {
    resize: none;
}
input {
    height: 35px;
    margin-top: 5px;
}
input:hover {
    border:     1px solid var(--accent-dim);
    box-shadow: 0 0 3px var(--accent) inset;
}
input:focus {
    border:     1px solid var(--accent);
    transition: border-color 0.1s;
    box-shadow: 0 0 3px var(--accent) inset;
}

.fill-width {
    width: 100%;
}

button {
    outline: none !important;

    margin-top: 1em;
    height:     35px;
    padding:    0 10px 0 10px;

    background-color: var(--shade-5);
    border-radius:    5px;
    border:           none;

    font-family: Montserrat;
    font-size:   var(--font-size);
    color:       var(--foreground);
    transition:  color            0.1s ease,
                 background-color 0.1s ease,
                 transform        0.1s ease;

    box-shadow: 0 0 15px var(--shadow);

    cursor: pointer;
}
button:hover {
    background-color: var(--shade-7);
}
button:active {
    transform: translateY(2px);
}

.accent-button {
    border-bottom:    3px solid var(--accent-dim-2);
    background-color: var(--accent);
    color:            var(--accent-foreground);
    box-shadow:       0 0 3px var(--accent);
}
.accent-button:hover {
    background-color: var(--accent-dim);
}
.accent-button:active {
    background-color: var(--accent-dim-2);
}

.danger-button {
    border-bottom:    3px solid var(--danger-dim-2);
    background-color: var(--danger);
    color:            var(--danger-foreground);
    box-shadow:       0 0 3px var(--danger);
}
.danger-button:hover {
    background-color: var(--danger-dim-1);
}
.danger-button:active {
    background-color: var(--danger-dim-2);
}

.apply-button {
    border-bottom:    3px solid var(--apply-dim-2);
    background-color: var(--apply);
    color:            var(--apply-foreground);
    box-shadow:       0 0 3px var(--apply);
}
.apply-button:hover {
    background-color: var(--apply-dim-1);
}
.apply-button:active {
    background-color: var(--apply-dim-2);
}

.rules-accept-button {
    margin-top:    0;
    margin-bottom: 10px;
}

button.icon-button {
    background-color: transparent;
    transition: filter 0.1s ease, transform 0.1s ease;
    box-shadow: none;

    border:  none;
    padding: 0 7px 0 7px;
    margin:  0;
}
button.icon-button:hover {
    filter: brightness(1.5);
}
button.icon-button img {
    max-width:  16px;
    max-height: 16px;
}

.cg-button:not(.group-icon) {
    padding: 5px;
    height:  fit-content;
}
.cg-button img {
    filter: brightness(calc(100% - var(--darken-icon)));
}

*       > button.hover-show-button {
    opacity: 0;
    transition: opacity 0.1s ease;
}
*:hover > button.hover-show-button {
    opacity: 1;
}

#title-bar-buttons {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 2px;
}

.title-bar-button {
    background-color: transparent;
    border:           none;
    outline:          none;
    box-shadow:       none;

    padding: 0 3px 0 3px;
    margin:  0;
    height: fit-content;

    cursor: pointer;
}
.title-bar-button:hover {
    background-color: transparent;
}

progress {
    margin-top: 5px;
    height: 5px;

    border: none;
}
progress::-webkit-progress-bar {
    background: var(--shade-7);
    border-radius: 2px;
}
progress::-webkit-progress-value {
    transition: width 0.1s ease,
                color 0.1s ease;
    border-radius: 2px;
}
progress.password-strong::-webkit-progress-value {
    background: var(--green);
}
progress.password-weak::-webkit-progress-value {
    background: var(--red);
}
progress.password-medium::-webkit-progress-value {
    background: var(--yellow);
}
progress.password-strong::-webkit-progress-value {
    background: var(--green);
}

.input-container {
    box-sizing: border-box;
    
    width: 100%;
}

label {
    margin-left: 5px;
}

#main-layout {
    border: none;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0;
}

#user-info-bar {
    background-color: var(--shade-2);
    height: 48px;
    width: 100%;
    padding: 0;
    position: relative;
}

#central-field {
    background-color: var(--shade-3);
    padding: 0;
}

#member-list-sidebar {
    background-color: var(--shade-1);
    width: 250px;
    padding: 0;
}

#member-list-friend-header,
#member-list-friend-type,
#member-list-group-header,
#user-search-bar {
    height: 40px;
    width:  250px;
    padding: 0 10px 0 10px;
    position: relative;

    background-color: var(--shade-4);

    font-family: Montserrat;
    font-size:   var(--font-size);

    align-items: center;
}
#member-list-friend-header {
    border-bottom: 2px solid var(--shade-2);
}
#member-list-group-header {
    height:      29px;
    border-left: 2px solid var(--shade-2);
}

#user-search-bar {
    padding: 0 10px 10px 10px;
}
#friend-add {
    margin-left: 5px;
}

#friends-pending-in {
    position: relative;
}

#message-unread-sep {
    position: relative;
    z-index:  2000;
    margin:   0 20px 0 20px;
    height:   1px;
    background: var(--accent);
}

.bubble {
    display:         flex;
    justify-content: center;
    align-items:     center;

    position: absolute;
    top:      0px;
    right:    0px;

    border-radius: 100px;
    padding:       0 6px 0 6px;

    background: var(--danger);
}
.bubble.hidden {
    display: none;
}
.user-avatar-container > .bubble {
    top:   -3px;
    right: -5px;
}
#message-unread-sep > .bubble {
    top:   -6px;
    right: 0px;
    background: var(--accent);
}
.bubble > span {
    font-size: 8pt;
    color:     var(--danger-foreground);
}
#message-unread-sep > .bubble > span {
    color:     var(--accent-foreground);
}

.user-avatar-container {
    width:       fit-content;
    margin-left: 8px;
    margin-top:  8px;
    position:    relative;
}
.user-avatar {
    width:  32px;
    height: 32px;

    -webkit-mask-image: url('../icons/ava-mask.png');
            mask-image: url('../icons/ava-mask.png');

    cursor: pointer;
}
.tiny-avatar {
    width:  16px;
    height: 16px;
    margin-right:  6px;
    border-radius: 8px;

    -webkit-mask-image: none;
            mask-image: none;
}
.user-online {
    width:  9px;
    height: 9px;
    position: absolute;
    top:  21px;
    left: 21px;
}

.user-nickname-container {
    font-family: Montserrat;
    font-size:   var(--font-size);

    position: absolute;
    left:     44px;
    top:      18px;

    cursor: pointer;
}
img.verified-badge.true {
    width:  12px;
    height: 12px;
    margin-right: 4px;
}
img.verified-badge:not(.true) {
    display: none;
}
.user-status:not(:empty) ~ .user-nickname-container {
    top: 10px;
}
.user-nickname {
    display: inline-block;
    max-width: 130px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-tag {
    color: var(--foreground-1);
    font-family: Montserrat;
    font-size: var(--font-size);
}

.user-status {
    display:   inline-block;
    max-width: 190px;

    position: absolute;
    left: 44px;
    top:  24px;

    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
    
    font-family: Roboto;
    font-size:   var(--font-size);
}

.user-summary {
    position: relative;

    height: 48px;

    margin: 8px 8px 0 8px;
    padding: 0;

    background-color: var(--shade-1);
    border-radius:    5px;
    transition:       background-color 0.1s ease;

    cursor: pointer;
}
.user-summary:hover {
    background-color: var(--shade-2);
    box-shadow: 0 0 5px var(--shadow);
}

.friend-remove-button,
.friend-accept-button {
    position: absolute;
    right: 0px;
    top: 10px;
}
.friend-accept-button {
    right: 24px;
}



.darken-bg {
    position: fixed;

    width:   100%;
    top:     20px;
    left:    0;
    right:   0;
    bottom:  0;
    z-index: 1000;

    margin: auto;

    background-color: #0000007a;
}
.popup-bg {
    position: absolute;
    top:    0;
    bottom: 0;
    right:  0;
    left:   0;

    height:  100vh;
    z-index: 1000;
    margin:  auto;
}



.menu-exit {
    position: absolute;
    left:     10px;
    top:      10px;

    outline:    none !important;
    box-shadow: none;

    width:  30px;
    height: 30px;

    border:        2px solid #505050;
    transition:    border 0.1s ease;
    border-radius: 15px;
    margin-top:    0;

    background:          url('../icons/close.png');
    background-size:     12px;
    background-repeat:   no-repeat;
    background-position: center;

    cursor: pointer;
    transform: scale(0.7);
}
.menu-exit:hover {
    border: 2px solid #707070;
}



.appearing {
    animation: appear    0.2s ease;
}
.disappearing {
    animation: disappear 0.2s ease;
}



.right {
    float: right;
}



.radio-switch {
    height: fit-content;
    width:  fit-content;

    padding: 5px;

    background-color: var(--shade-3);
    border: 1px solid transparent;
    border-radius:    5px;
    box-shadow:       0 0 15px var(--shadow);

    color:      var(--foreground-1);
    transition: color 0.25s;

    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
}
.radio-switch-section {
    margin: 5px;
}
input[type="radio"].hidden-radio {
    display: none;
}
input[type="radio"].hidden-radio:checked + label {
    color: var(--foreground);
    transition: color 0.25s;
}
input[type="color"],
input[type="range"] {
    border: none;
    border-radius: 10px;
}
input[type="color"] {
    padding: 0;
    width:   35px;
}
.status-sel:hover {
    color: var(--foreground-2);
    transition: color 0.25s;
    cursor: pointer;
}

#self-status-explainer {
    margin-top: 5px;
}

#self-mfa-enable-status {
    color: var(--foreground);
}



.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}



#mfa-qr-banner {
    width: fit-content;
    height: fit-content;

    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    padding: 20px;

    background-color: var(--shade-3);
    border-radius: 5px;
    box-shadow: 0 0 15px var(--shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Montserrat;
    font-size: var(--font-size);
}



#central-field {
    position: relative;
    height: 100%;   
}


#message-input-container {
    height: fit-content;
    width:   100%;
    margin:  0 0 20px 12px;
    padding: 10px;

    border-radius:    10px;
    background-color: var(--shade-2);
    box-shadow:       0 0 15px var(--shadow);
}

textarea.message-input {
    padding-top: 5px;
    border:     none;
    background: none;
    box-shadow: none;
    height:     unset;

    font-family: Roboto;
}
textarea.code-input {
    font-family: JetBrainsMono;
    border: none;
    background: var(--shade-1);
    border-radius: 5px;

    padding-top: 5px;
}

#message-send-button {
    margin: 5px;
}

#message-section-add-btns {
    align-items: center;
}
#channel-typing,
#message-editing {
    margin-left: 20px;
    font-family: Montserrat;
}
#message-editing {
    color: var(--foreground-2);
}

#typing-dots div,
#connecting-dots div {
    width:  6px;
    height: 6px;

    border-radius: 4px;
    margin-left:   2px;

    animation: dotPulse 2s ease infinite;
}
#connecting-dot-1,
#typing-dot-1 {
    animation-delay: 0s    !important;
}
#connecting-dot-2,
#typing-dot-2 {
    animation-delay: 0.66s !important;
}
#connecting-dot-3,
#typing-dot-3 {
    animation-delay: 1.33s !important;
}

.message-file-section {
    background:    var(--shade-1);
    border:        none;
    border-radius: 10px;

    min-width: 200px;

    margin-top: 5px;
    padding:    10px;

    font-family: Montserrat;
    font-size:   var(--font-size);

    justify-content: space-between;
    box-shadow: 0 0 15px var(--shadow);
}
.file-section-name {
    margin-top:  5px;
    font-family: Montserrat;
    font-size:   var(--font-size);
}
.message-file-header {
    color: var(--foreground-1);
}

span.fg-1 {
    color: var(--foreground-1)
}



#central-layout {
    position: absolute;
    top:      0;
    left:     0;
    right:    0;

    height: 100%;
}

#message-area {
    padding-bottom: 20px;
}
#message-area-title {
    background-color: var(--shade-4);
    width:      -webkit-fill-available;
    min-height: 40px;
    padding:    0 0 0 10px;

    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: flex-start;
}

#message-container-area {
    max-height: 100%;
    height:     100%;
}
.scroll-area {
    height:   100%;
    display:  flex;
    overflow: hidden scroll;
}
#message-scroll-area {
    flex-direction: column-reverse;
    justify-items:  flex-end;
}

#message-area-header,
#message-area-explainer {
    padding: 10px;
    margin:  10px;

    background-color: var(--shade-1);
    border-radius:    10px;
    box-shadow:       0 0 15px var(--shadow);
}
#message-area-header p,
#message-area-explainer p {
    font-family: Montserrat;
}



.message {
    position: relative;

    margin:  8px 5px 0 5px;
    padding: 7px 7px 0 7px;

    background-color: var(--shade-3);
    transition:       box-shadow       0.1s ease,
                      background-color 0.1s ease;
    border-radius:    10px;

    vertical-align: top;
}
.message.short-message {
    padding: 0 2px 2px 2px;
    margin:  3px 0 0 42px;
}
.message:hover {
    background-color: var(--shade-2);
    box-shadow:       0 0 15px var(--shadow);
    z-index:          250;
}

.message-user-nickname {
    font-family: Montserrat;
    font-size:   var(--font-size);
}
.message-avatar-container {
    width: 32px;
    height: 32px;
    position: relative;
}
.reply-avatar-container {
    align-items: center;
}
.message-avatar {
    border-radius: 16px;

    -webkit-mask-image: none;
            mask-image: none;
}

.message-content {
    margin-left: 10px;
}

.message-quote-section,
.message-text-section {
    margin-top: 5px;
    vertical-align: baseline;

    font-family: Roboto;
    user-select: text;

    display: flex;
    flex-direction: column;
}
.message-quote-section span,
.message-text-section span {
    white-space: pre-wrap;
    align-items: center;
}
.message-quote-section span > *:not(img.emoji),
.message-text-section span > *:not(img.emoji) {
    transform: translateY(3px);
}
.message-quote-section span:empty::before,
.message-text-section span:empty::before {
    content: "\200b"; /* zero width space */
}

.message-quote-section {
    padding: 5px;

    background-color: var(--shade-1) !important;

    border-radius: 5px;
    box-shadow: 0 0 15px var(--shadow);
}
div.message-quote-section {
    cursor: pointer;
}
.message-code-section {
    margin-top: 5px;
    padding: 5px;

    border-radius: 5px;

    font-family: JetBrainsMono;
    font-size:   var(--font-size);

    user-select: text;
}

.message-img-section-container {
    position: relative;
}
.message-img-section-fake {
    max-width:  500px;
    max-height: 250px;
    width:   auto;
    height:  auto;

    border-radius: 5px;
}
.message-img-section {
    display: block;

    margin-top: 5px;

    max-width:  500px;
    max-height: 250px;
    width:   auto;
    height:  auto;

    border-radius: 5px;
    cursor: pointer;
}
canvas.message-img-section {
    opacity:    1;
    transition: opacity 0.2s ease;
    z-index:    125;
}
canvas.message-img-section.deblur {
    opacity: 0;
}

.message-time {
    margin-left: 10px;

    color: var(--foreground-1);
    font-family: Montserrat;
    font-size: var(--font-size);
}

iframe {
    margin-top: 5px;

    border: none;
    border-radius: 5px;
}

img.emoji {
    width: 17px;
}
img.large-emoji {
    width: 40px;
}


.message > .message-action-bar {
    position: absolute;
    right:     5px;
    top:     -10px;
    padding:   3px;

    opacity:    0;
    transition: opacity 0.2s ease;

    border-radius:    5px;
    background-color: var(--shade-3);
    box-shadow:       0 0 15px var(--shadow);
}
.message:hover > .message-action-bar {
    opacity: 1;
}



#group-create-box {
    align-items: center;
    font-size: calc(var(--font-size) + 6pt);
}
#group-create-box span:nth-child(4) {
    margin-top: 20px;
}



#channel-list-sidebar {
    width:   250px;
    padding: 0;
    background-color: var(--shade-2);
    border-radius:    10px 0 0 0;
}
#channel-list-container {
    height: 100%;
}

#channel-list {
    padding: 10px;
    width: 100%;
}

.role-button,
.channel-button {
    margin-bottom: 10px;
    padding: 10px;

    background-color: var(--shade-3);
    border-radius:    5px;
    transition:       background-color 0.1s ease;

    font-family: Montserrat;
    font-size:   var(--font-size);

    cursor: pointer;
}
.role-button:hover,
.channel-button:hover,
.channel-button-selected {
    background-color: var(--shade-4);
    box-shadow: 0 0 15px var(--shadow);
}

.role-button {
    margin-bottom: 0;
    margin-top:    10px;
}

#channel-list-header {
    height: 20px;

    padding: 10px;
    border-radius: 10px 0 0 10px;
    border-right:  2px solid var(--shade-2);

    background-color: var(--shade-4);
    transition: background-color 0.1s ease;

    font-family: Montserrat;
    font-size:   var(--font-size);

    cursor: pointer;

    align-items: center;
}
#channel-list-header:hover {
    background-color: var(--shade-5);
}
#group-leave {
    height: unset;
}



#connecting-screen {
    width:  100%;
    height: 100%;

    background-color: var(--shade-2);

    align-items:     center;
    justify-content: center;
}
#connecting-screen > * {
    margin-top: 10px;
}
#connecting-screen > span {
    font-family: Montserrat;
    font-size:   var(--font-size);
}
#connecting-screen > span:nth-child(1) {
    color:     var(--accent);
    font-size: calc(var(--font-size) + 2pt);
}