.input-poll {
    padding:       10px;
    background:    var(--background);
    border-radius: 10px;
    box-shadow:    var(--shadow);

    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     flex-start;
}

.input-poll > div {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
}

.input-poll > div::before {
    font-size: calc(var(--font-size) - 1pt);
    color:     var(--foreground-1);
    content:   "POLL";
}

.input-poll > div > div {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;
}

.input-poll > div > div > input {
    margin-left: 5px;
    font-family: Roboto;
}