/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.input-poll {
    padding:       10px;
    background:    var(--bg-2);
    border-radius: 10px;

    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     flex-start;
}

.input-poll > div {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
}

.input-poll > div::before {
    font-size: calc(var(--font-size) - 1pt);
    color:     var(--foreground-1);
    content:   "POLL";
}

.input-poll > div > div {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;
}

.input-poll > div > div > input {
    margin-left: 5px;
    font-family: Roboto;
}



.message-poll-section {
    width: 350px;
    padding:       10px;
    background:    var(--bg-2);
    border-radius: 10px;

    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     flex-start;
}

.message-poll-section::before {
    font-size:     calc(var(--font-size) - 1pt);
    color:         var(--foreground-1);
    content:       "POLL";
    margin-bottom: 5px;
}

.message-poll-section > div {
    padding:  5px;
    margin:   3px 0;
    height:   fit-content;
    width:    -webkit-fill-available;
    position: relative;

    font-size:     var(--font-size);
    border-radius: 5px;
    background:    var(--bg-2);

    transition: background 0.1s ease;

    cursor: pointer;
}
.message-poll-section > div:hover {
    background: var(--bg-3);
}

.message-poll-section > div > div.progress {
    position: absolute;
    top:      0;
    bottom:   0;
    left:     0;

    border-radius: 5px;
    background:    var(--accent-grad-trans);
}
.message-poll-section > div > div:not(.progress) {
    z-index: 2;
}

.message-poll-section > div span,
.message-poll-section > span {
    font-size: var(--font-size);
    color:     var(--foreground-1);
}
.message-poll-section > span {
    margin-top: 5px;
}