@keyframes slideIn {
    from  { right: -300px }
    to    { right:    0px }
}

#user-settings,
#group-settings {
    width: 70vw;
    height: 75vh;

    margin: auto;
    position: fixed;
    top:     0;
    left:    0;
    right:   0;
    bottom:  0;
    z-index: 500;

    background:      var(--background-trans);
    border-radius:   5px;
    box-shadow:      var(--shadow);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: row;
}
#user-settings-bg {
    z-index: 500;
}

#user-settings-sidebar,
#group-settings-sidebar {
    width: 155px;
    margin: 0;

    top:    0;
    bottom: 0;

    padding-top:    20px;
    padding-bottom: 20px;
    padding-right:  20px;

    background:    var(--background);
    border-radius: 5px 0 0 5px;
    box-shadow:    var(--shadow);

    display:        flex;
    flex-direction: column;
}

.settings-section-sel {
    right: 0;
    margin-top: 20px;
    text-align: right;
    width: 100%;

    color: var(--foreground-1);
    transition: color 0.1s ease;
    font-family: Montserrat, sans-serif;
    font-size: 12px;

    cursor: pointer;
}
.settings-section-sel:hover{
    color: var(--foreground-2);
}

input[type="radio"].settings-radio {
    display: none;
}
input[type="radio"].settings-radio:checked + label {
    color: var(--foreground);
}

.settings-section {
    box-sizing: border-box;

    width: 100%;
    margin: 0;

    padding: 20px;

    display: flex;
    flex-direction: column;

    color: var(--foreground);
    font-family: Montserrat, sans-serif;
    font-size: 12px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.setting {
    margin: 10px;
}

.settings-separator {
    box-sizing: border-box;

    width: 100%;
    height: 1px;

    margin: 5px auto 5px auto;

    background: var(--background);
}

.settings-subsection {
    box-sizing: border-box;

    width:  100%;
    height: fit-content;

    margin-bottom: 20px;
    padding:       20px;

    background: var(--background);
    border-radius:    5px;
    box-shadow: var(--shadow);

    display:        flex;
    flex-direction: column;
}

.settings-subsection-title {
    margin-bottom: 20px;
}

#self-avatar-change-container,
#group-icon-change-container {
    position: relative;
    display: table;
}
#self-avatar-change,
#group-icon-change {
    width: 64px;
    height: 64px;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 500;

    background: black;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 32px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}

#theme-name,
#theme-author {
    color: var(--foreground);
}

.user-avatar-huge,
.group-icon-huge {
    width:         64px;
    height:        64px;
    border-radius: 32px;
}
.user-avatar-huge:hover + #self-avatar-change,
.group-icon-huge:hover + #group-icon-change {
    opacity: 0.75;
    cursor:  pointer;
}

#self-profile-settings-inputs,
#group-settings-inputs {
    width: 100%;

    margin-left: 20px;

    display: flex;
    flex-direction: column;
}

.self-profile-setting-input-container,
.group-setting-input-container {
    width: 100%;

    margin-top: 5px;

    display: flex;
    flex-direction: column;

    color: var(--foreground-1);
}

#self-status-switch {
    margin-top: 5px;
}

#self-mfa-enable-status {
    margin-left: 5px;
}
#self-mfa-toggle-button {
    width: fit-content;
}

#user-settings-section-about p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    background: var(--rainbow-grad);
    color: transparent;
            background-clip: text;
    -webkit-background-clip: text;
}
#user-settings-section-about button {
    padding: 0.7em 0 0.7em 0;
}

#self-name-change, #self-email-change, #self-status-text-change,
#group-name-change, #self-email-confirm {
    width: 50%;

    margin-bottom: 10px;
}

#group-settings-role-list,
#group-settings-channel-list {
    width: 200px;
}

#group-settings-role-settings,
#group-settings-channel-settings {
    margin-left: 20px;
    
    width: 100%;
    height: 100%;
}

.group-invite-entry {
    padding: 10px;

    justify-content: space-between;
    align-items:     center;
}
.group-invite-entry:not(:nth-child(1)) {
    border-top: 1px solid var(--background);
}
.group-invite-entry button {
    margin: 0 !important;
}
.group-invite-entry span {
    user-select: all;
    font-family: JetBrainsMono;
}

#about-logo {
    width: 64px;
    height: 64px;
    margin-right: 64px;
}

.trackbar {
    -webkit-appearance: none;
            appearance: none;
    outline: none;

    height: 10px;
    background: var(--bg-2);
    box-shadow: var(--shadow);
}
.trackbar::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width:  10px;
    height: 20px;
    background: var(--accent);
    box-shadow: var(--shadow);
    border-radius: 5px;

    cursor: pointer;
}

#font-size-indicator {
    color: var(--foreground);
}

.setting-switch {
    display:        flex;
    flex-direction: row;
    align-items:    center;
    margin-bottom:  5px;
}
.setting-switch > span {
    margin-left:   20px;
}



#profile,
#floating-image,
#floating-message,
#group-create-box,
#group-delete-box,
#floating-box,
#update-popup {
    z-index:  2500;
    position: fixed;

    width:  fit-content;
    height: fit-content;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;

    margin:  auto;
    padding: 20px;

    border-radius: 10px;
    background: var(--background);
    /*backdrop-filter:  blur(5px);*/
    box-shadow: var(--shadow);

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
}
#update-popup {
    position: absolute;
    margin:   40px 20px;
    bottom: unset; left: unset;
}
.sliding-in {
    animation: slideIn 1s ease;
}
#floating-box {
    min-width: 25vw;
}
#floating-message {
    padding: 10px;
    width:   fit-content;
}
#floating-image {
    width:  unset;
    height: unset;

    max-width:  80vw;
    max-height: 80vh;

    background: unset;
    border-radius:    0;
    padding:          unset;
    backdrop-filter:  unset;
}
#group-create-box {
    width: 300px;
}
#group-delete-box {
    width:  fit-content;
    height: fit-content;
}
#group-delete-box > p {
    font-family: Montserrat, sans-serif;
}


#profile {
    width:   50vw;
    height:  55vh;
    padding: 0;

    box-shadow: var(--shadow);
}
#profile-topbar {
    height: fit-content;

    left:  0;
    right: 0;

    margin:  0;
    padding: 20px;

    background:    var(--background);
    border-radius: 5px 5px 0 0;

    align-items: center;
}
#profile-nickname-container {
    margin: 0 0 0 10px;
}
#profile-nickname-container span {
    user-select: text;
}
#profile-badges {
    margin-left: 10px;
}
#profile-badges abbr {
    margin-right: 5px;
}
#profile-groups-container {
    width:   50%;
    padding: 20px 10px 20px 20px;
}
#profile-friends-container {
    width:   50%;
    padding: 20px 20px 20px 10px;
}
#profile-groups,
#profile-friends {
    overflow: hidden scroll;
}
.mutual-thing {
    padding:          10px;
    margin-bottom:    10px;
    background: var(--background-trans);
    transition:       box-shadow       0.1s ease,
                      background-color 0.1s ease;
    border-radius:    5px;

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    color:       var(--foreground);
    
    cursor: pointer;
}
.mutual-thing:hover {
    background: var(--background);
    box-shadow: var(--shadow);
}

#login-form, #mfa-form, #signup-form {
    margin:  auto;
    width:   30vw;
    height:  fit-content;
    padding: 20px;

    border:        none;
    border-radius: 10px;

    font-family: Montserrat, sans-serif;
    font-size:   var(--font-size);
    background:  var(--bg-2);
    box-shadow:  var(--shadow);
}

.form-head {
    margin-left: 5px;
    margin-top:  5px;
}
.form-head:not(:nth-child(1)) {
    margin-top: 20px;
}

#owned-bot-list,
#floating-box-text,
#mfa-code-manual {
    user-select: text;
    color:       var(--foreground);
}





#message-history {
    position:       absolute;
    display:        flex;
    flex-direction: column;

    width:         300px;
    padding:       5px 0 5px 0;
    background:    var(--background);
    box-shadow:    var(--shadow);
    border-radius: 10px;

    pointer-events: all;
}
.message-state {
    display:        flex;
    flex-direction: column;

    padding:    5px 10px 5px 10px;
    cursor:     pointer;
    background: var(--background);
    transition: background 0.2s ease;
}
.message-state:hover {
    background: var(--background);
}
.message-state > span:nth-child(1) {
    color: var(--foreground);
    display:        flex;
    flex-direction: row;
    align-items:    center;
}
.message-state > span:nth-child(1) > span {
    color: var(--danger);
    font-size: calc(var(--font-size) - 1pt);
}
.message-state > span:nth-child(1) > span:not(.current) {
    display: none;
}
.message-state > span:nth-child(2) {
    color:     var(--foreground-1);
    font-size: calc(var(--font-size) - 1pt);

    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}