/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width:   0;
    height:  0;
}

.slider {
    position:      absolute;
    cursor:        pointer;
    top:           0;
    left:          0;
    right:         0;
    bottom:        0;
    background:    var(--bg-3);
    transition:    background 0.25s ease;
    box-shadow:    var(--shadow);
    border-radius: 16px;
}

.slider::before {
    position:      absolute;
    content:       "";
    height:        12px;
    width:         12px;
    left:          2px;
    bottom:        2px;
    background:    var(--foreground);
    transition:    background 0.25s ease,
                   transform  0.25s ease;
    border-radius: 50%;
}

input:checked + .slider {
    background: var(--accent-grad);
}

input:checked + .slider::before {
    transform: translateX(12px);
    background: var(--accent-foreground);
}