@charset "UTF-8"; 

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf)
}

@keyframes appear {
    0%   { transform: scale(0.0); }
    1%   { transform: scale(0.5); }
    75%  { transform: scale(1.05); }
    100% { transform: scale(1.0); }
}

@keyframes disappear {
    0%   { transform: scale(1.0); }
    99%  { transform: scale(0.5); }
    100% { transform: scale(0.0); }
}

@keyframes gradientAnimation {
    0%   { background-position: 0% 50% }
    50%  { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes dotPulse {
    0%   { background-color: var(--foreground-1); transform: scale(0.75) }
    50%  { background-color: var(--foreground);   transform: scale(1)    }
    100% { background-color: var(--foreground-1); transform: scale(0.75) }
}

body {
    padding: 0px;
    margin: 0px;

    background-color: var(--shade-1);
    color: var(--foreground);

    font-family: RobotoBold;

    user-select: none;
    overflow: hidden;
}

span {
    font-size: var(--font-size);
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #00000000;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--shade-7);
    border-radius: 5px;
}

p {
    margin: 5px 0 5px 0;

    font-family: Roboto;
    font-size: var(--font-size);
}
h1, h2, h3, h4, h5, h6 {
    margin: 2em;
}
a {
    color: var(--accent);
}
pre {
    margin: 0;
}


#capital-layout {
    border: none;
    border-spacing: 0;
    height: 100vh;
    width: 100vw;
}

#title-bar {
    -webkit-app-region: drag;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    background-color: var(--shade-1);
    padding: 0px;
    margin: 0px;
}

#title-text, #title-status {
    font-size: var(--font-size);
    color: var(--foreground);
}
#title-text {
    position: fixed;
    top: 0px;
    left: 6px;
}
#title-status {
    margin-left: 10px;
}

#title-bar-buttons {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 2px;
}

.title-bar-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    padding-left: 3px;
    padding-right: 3px;
}

#floating-image,
#floating-message,
#group-create-box,
#floating-box {
    z-index: 1000;
    position: fixed;

    width: 300px;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    padding: 40px;

    border-radius: 5px;
    background-color: var(--shade-3-trans);
    backdrop-filter: blur(5px);

    font-family: RobotoBold;
    font-size: var(--font-size);
}
#floating-message {
    width: fit-content;
}
#floating-image {
    width: unset;

    max-width:  80vw;
    max-height: 80vh;

    background-color: unset;
    border-radius: 0;
    padding: unset;
    backdrop-filter: unset;
}

#login-form, #mfa-form, #signup-form {
    margin: auto;
    width: 30vw;
    height: fit-content;
    padding: 20px;

    border: none;
    border-radius: 5px;

    font-family: RobotoBold;
    font-size: var(--font-size);
    background-color: var(--shade-3-trans);
}

textarea,
input {
    outline: none !important;

    box-sizing:border-box;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: var(--shade-3);
    border-radius: 3px;
    border: 1px solid var(--foreground-1);
    transition: border-color 0.1s;

    color: var(--foreground);
    font-family: RobotoBold;
    font-size: var(--font-size);
}
textarea {
    resize: none;
}
input {
    height: 30px;
}
input:hover {
    border: 1px solid var(--accent-dim);
    transition: border-color 0.1s;
    box-shadow: none;
}
input:focus {
    border: 1px solid var(--accent);
    transition: border-color 0.1s;
    box-shadow: none;
}

.fill-width {
    width: 100%;
}

button:not(.title-bar-button):not(.menu-exit) {
    outline: none !important;
    box-shadow: none;

    margin-top: 1em;
    height: 30px;

    background-color: var(--shade-5);
    border-radius: 3px;
    border: none;
    transition: background-color 0.1s;
    transition: border 0.1s;
    transition: color 0.1s;
    transition: background-color 0.1s;

    color: var(--foreground);
    font-family: RobotoBold;
    font-size: var(--font-size);

    cursor: pointer;
}
button:not(.title-bar-button):not(.menu-exit):hover {
    background-color: var(--shade-7);
}

button.accent-button:not(.title-bar-button):not(.menu-exit) {
    background-color: var(--accent);
    color: var(--accent-foreground)
}
button.accent-button:not(.title-bar-button):not(.menu-exit):hover {
    background-color: var(--accent-dim);
}
button.accent-button:not(.title-bar-button):not(.menu-exit):active {
    background-color: var(--accent-dim-2);
}

button.danger-button:not(.title-bar-button):not(.menu-exit) {
    background-color: #00000000;
    border: 1px solid var(--danger);
    color: var(--danger);
}
button.danger-button:not(.title-bar-button):not(.menu-exit):hover {
    background-color: #00000000;
    border: 1px solid var(--danger-dim-1);
    color: var(--danger-dim-1);
}
button.danger-button:not(.title-bar-button):not(.menu-exit):active {
    background-color: #00000000;
    border: 1px solid var(--danger-dim-2);
    color: var(--danger-dim-2);
}

button.apply-button:not(.title-bar-button):not(.menu-exit) {
    background-color: #00000000;
    border: 1px solid var(--apply);
    color: var(--apply);
}
button.apply-button:not(.title-bar-button):not(.menu-exit):hover {
    background-color: #00000000;
    border: 1px solid var(--apply-dim-1);
    color: var(--apply-dim-1);
}
button.apply-button:not(.title-bar-button):not(.menu-exit):active {
    background-color: #00000000;
    border: 1px solid var(--apply-dim-2);
    color: var(--apply-dim-2);
}

.cg-button img {
    filter: brightness(calc(100% - var(--darken-icon)));
}

button.icon-button:not(.title-bar-button):not(.menu-exit) {
    background-color: #00000000;
    border: none;
    margin: 0;
    transition: filter 0.1s ease;
}
button.icon-button:not(.title-bar-button):not(.menu-exit):hover {
    filter: brightness(1.5);
}

*       > button.hover-show-button:not(.title-bar-button):not(.menu-exit) {
    opacity: 0;
    transition: opacity 0.1s ease;
}
*:hover > button.hover-show-button:not(.title-bar-button):not(.menu-exit) {
    opacity: 1;
}

progress {
    margin-top: 5px;
    height: 5px;

    border: none;
}
progress::-webkit-progress-bar {
    background: var(--shade-7);
    border-radius: 2px;
}
progress::-webkit-progress-value {
    transition: width 0.1s ease,
                color 0.1s ease;
    border-radius: 2px;
}
progress.password-strong::-webkit-progress-value {
    background: var(--green);
}
progress.password-weak::-webkit-progress-value {
    background: var(--red);
}
progress.password-medium::-webkit-progress-value {
    background: var(--yellow);
}
progress.password-strong::-webkit-progress-value {
    background: var(--green);
}

.input-container {
    box-sizing: border-box;
    
    width: 100%;
}

label {
    margin-left: 5px;
}

#main-layout {
    border: none;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0;
}

#user-info-bar {
    background-color: var(--shade-2);
    height: 48px;
    width: 100%;
    padding: 0;
    position: relative;
}

#central-field {
    background-color: var(--shade-3);
    padding: 0;
}

#member-list-sidebar {
    background-color: var(--shade-1);
    width: 250px;
    padding: 0;
}

#member-list-friend-header,
#member-list-friend-type,
#member-list-group-header,
#user-search-bar {
    height: 20px;
    width:  250px;
    padding: 0 10px 0 10px;
    position: relative;

    background-color: var(--shade-4);

    font-family: RobotoBold;
    font-size:   var(--font-size);

    align-items: center;
}
#member-list-group-header,
#member-list-friend-type {
    padding-top:    5px;
    padding-bottom: 5px;
}
#member-list-group-header {
    height:      29px;
    border-left: 2px solid var(--shade-2);
}

#user-search-bar {
    padding: 0 10px 10px 10px;
}
#friend-add {
    margin-left: 5px;
}

.user-avatar-container {
    margin-left: 8px;
    margin-top: 8px;
    position: relative;
}
.user-avatar {
    width: 32px;
    height: 32px;

    -webkit-mask-image: url('./icons/ava-mask.png');
    mask-image: url('./icons/ava-mask.png');

    cursor: pointer;
}
.user-online {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 21px;
    left: 21px;
}

.user-nickname-container {
    font-size: var(--font-size);
    font-family: RobotoBold;

    position: absolute;
    left: 44px;
    top: 18px;

    cursor: pointer;
}
.user-nickname-container img:not(.unverified) {
    width:  12px;
    height: 12px;
    margin-right: 4px;
}
.user-nickname-container img.unverified {
    display: none;
}
.user-status:not(:empty) ~ .user-nickname-container {
    top: 12px;
}
.user-nickname {
    display: inline-block;
    max-width: 130px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-tag {
    color: var(--foreground-1);
    font-family: RobotoBold;
    font-size: var(--font-size);
}

.user-status {
    display: inline-block;
    max-width: 190px;

    position: absolute;
    left: 44px;
    top: 28px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-size: var(--font-size);
    font-family: Roboto;
}

.user-summary {
    position: relative;

    height: 48px;

    margin: 4px;
    padding: 0;

    background-color: var(--shade-1);
    border-radius: 5px;
    transition: background-color 0.1s ease;

    cursor: pointer;
}
.user-summary:hover {
    background-color: var(--shade-2);
}

.friend-remove-button,
.friend-accept-button {
    position: absolute;
    right: 0px;
    top: 10px;
}
.friend-accept-button {
    right: 24px;
}



.darken-bg {
    position: fixed;

    width: 100%;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    margin: auto;

    background-color: #0000007a;
}



.menu-exit {
    position: absolute;
    left: 5px;
    top: 5px;

    outline: none !important;
    box-shadow: none;

    width: 30px;
    height: 30px;
    border-radius: 15px;

    background: url('./icons/close.png');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;

    border: 2px solid #505050;
    transition: border 0.1s ease;

    cursor: pointer;

    transform: scale(0.7);
}
.menu-exit:hover {
    border: 2px solid #707070;
}



.appearing {
    animation: appear 0.2s ease;
}
.disappearing {
    animation: disappear 0.2s ease;
}



.right {
    float: right;
}



.radio-switch {
    height: fit-content;
    width: fit-content;

    padding: 5px;

    background-color: var(--shade-3);
    border: 1px solid var(--shade-7);
    border-radius: 5px;

    color: var(--foreground-1);
    transition: color 0.25s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.radio-switch-section {
    margin: 5px;
}
input[type="radio"].hidden-radio {
    display: none;
}
input[type="radio"].hidden-radio:checked + label {
    color: var(--foreground);
    transition: color 0.25s;
}
input[type="color"],
input[type="range"] {
    border: unset;
}
.status-sel:hover {
    color: var(--foreground-2);
    transition: color 0.25s;
    cursor: pointer;
}

#self-status-explainer {
    margin-top: 5px;
}

#self-mfa-enable-status {
    color: var(--foreground);
}



.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}



#mfa-qr-banner {
    width: fit-content;
    height: fit-content;

    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    padding: 20px;

    background-color: var(--shade-3);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: RobotoBold;
    font-size: var(--font-size);
}



#central-field {
    position: relative;
    height: 100%;
}



#message-input-container {
    height: fit-content;
    width: 100%;
    padding: 5px;

    border-radius: 10px 10px 0 0;
    background-color: var(--shade-2);
}

textarea.message-input {
    border: none;
    background: none;

    font-family: Roboto;
}
textarea.code-input {
    font-family: monospace;
    border: none;
    background: var(--shade-1);
    border-radius: 5px;

    padding-top: 5px;
}

#message-send-button {
    margin: 5px;
}

#message-section-add-btns {
    align-items: center;
}
#channel-typing {
    margin-left: 20px;
    font-family: Roboto;
}

#typing-dots div,
#connecting-dots div {
    width:  6px;
    height: 6px;
    border-radius: 4px;
    margin-left:   2px;
    animation: dotPulse 2s ease infinite;
}
#connecting-dot-1,
#typing-dot-1 {
    animation-delay: 0s    !important;
}
#connecting-dot-2,
#typing-dot-2 {
    animation-delay: 0.66s !important;
}
#connecting-dot-3,
#typing-dot-3 {
    animation-delay: 1.33s !important;
}

.message-file-section {
    background: var(--shade-1);
    border: none;
    border-radius: 10px;

    min-width: 200px;

    margin-top: 5px;
    padding: 5px;

    font-family: Roboto;
    font-size: calc(var(--font-size));

    justify-content: space-between;
}
.message-file-header {
    color: var(--foreground-1);
}

span.fg-1 {
    color: var(--foreground-1)
}



#message-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 100%;
}

#message-area-container {
    max-height: 100%;
    height: 100%;
}
.scroll-area {
    height: 100%;
    display: flex;
    overflow: hidden scroll;
}
#message-scroll-area {
    flex-direction: column-reverse;
    justify-items: flex-end;
}

#message-area-header,
#message-area-explainer {
    padding: 10px;
    margin: 10px;

    background-color: var(--shade-1);
    border-radius: 10px;
}



.message {
    position: relative;

    margin: 0 5px 0 5px;
    padding: 7px;

    background-color: var(--shade-3);
    transition: background-color 0.1s ease;
    border-radius: 10px;

    vertical-align: top;

    cursor: pointer;
}
.message.short-message {
    padding: 2px;
    margin-left: 42px;
}
.message:hover {
    background-color: var(--shade-2);
}

.message-user-nickname {
    font-family: RobotoBold;
    font-size: calc(var(--font-size));
}
.message-avatar-container {
    position: relative;
}
.message-avatar {
    -webkit-mask-image: none;
    mask-image: none;
    border-radius: 16px;
}

.message-content {
    margin-left: 10px;
}

.message-quote-section,
.message-text-section {
    margin-top: 5px;
    vertical-align: baseline;
    
    font-family: Roboto;
    font-size: var(--font-size);

    user-select: text;
}
.message-quote-section span,
.message-text-section span {
    white-space: pre;
}
.message-quote-section span:empty::before,
.message-text-section span:empty::before {
    content: "\200b"; /* zero width space */
}

.message-text-section span {
    display: flex;
    align-items: center;
}

.message-quote-section {
    padding: 5px;

    border-left: 2px solid var(--accent-dim)   !important;
    background-color: var(--accent-trans)      !important;

    border-radius: 0 5px 5px 0;
}
div.message-quote-section {
    cursor: pointer;
}

.message-code-section {
    margin-top: 5px;
    padding: 5px;

    border-radius: 5px;

    font-family: monospace;
    font-size: var(--font-size);

    user-select: text;
}

.message-img-section {
    display: block;

    margin-top: 5px;

    max-width: 500px;
    max-height: 250px;
    width: auto;
    height: auto;

    border-radius: 5px;
}

.message-time {
    margin-left: 10px;

    color: var(--foreground-1);
    font-family: RobotoBold;
    font-size: var(--font-size);
}

iframe {
    margin-top: 5px;

    border: none;
    border-radius: 5px;
}

img.emoji {
    display: inline;
    width: 20px;
}
img.large-emoji {
    width: 40px;
}

#message-layout-header {
    height:  20px;
    padding: 10px;
    background-color: var(--shade-4);
}
#channel-name {
    font-family: RobotoBold;
    font-size: var(--font-size);
}



#group-list-sidebar-container {
    width: 10px;
    padding: 0;
    background-color: var(--shade-1);
}
#group-list-sidebar {
    padding: 5px;
    height: 100%;

    align-items: center;
    overflow: hidden scroll;
}
#group-list-sidebar::-webkit-scrollbar {
    display: none;
}

.group-icon {
    width:  48px;
    height: 48px;

    margin-bottom: 5px;

    background-color: var(--shade-4);
    border-radius: 24px;
    transition: background-color 0.2s ease,
                border-radius    0.2s ease;

    cursor: pointer;

    text-overflow: clip;
    white-space:   nowrap;
    overflow:      hidden;

    display:         flex;
    align-items:     center;
    justify-content: center;

    font-weight: 500;
    font-size:   var(--font-size);
}
.group-icon:hover {
    background-color: var(--accent);
    border-radius: 12px;
}
img.group-icon,
img.group-icon:hover {
    background-color: unset;
}

#group-icon-add {
    background-color: var(--accent-trans);
}
#group-icon-add:hover {
    background-color: var(--accent);
}

.group-icon img { /* special icons have an image in them */
    max-width:  inherit;
    max-height: inherit;
}

.group-icon-separator {
    width: 32px;
    height: 1px;

    margin-top:     5px;
    margin-bottom: 10px;

    background-color: var(--shade-7);
}

#group-create-box {
    align-items: center;
    font-size: calc(var(--font-size) + 6pt);
}
#group-create-box span:nth-child(4) {
    margin-top: 20px;
}



#channel-list-sidebar {
    width:   250px;
    padding: 0;
    background-color: var(--shade-2);
    border-radius:    10px 0 0 0;
}
#channel-list-container {
    height: 100%;
}

#channel-list {
    padding: 10px;
    width: 100%;
}

.role-button,
.channel-button {
    margin-bottom: 10px;
    padding: 10px;

    background-color: var(--shade-3);
    border-radius: 5px;
    transition: background-color 0.1s ease;

    font-family: RobotoBold;
    font-size:   var(--font-size);

    cursor: pointer;
}
.role-button:hover,
.channel-button:hover,
.channel-button-selected {
    background-color: var(--shade-4);
}

.role-button {
    margin-bottom: 0;
    margin-top:    10px;
}

#channel-list-header {
    height: 20px;
    align-items: center;

    padding: 10px;
    border-radius: 10px 0 0 10px;
    border-right:  2px solid var(--shade-2);

    background-color: var(--shade-4);
    transition: background-color 0.1s ease;

    font-family: RobotoBold;
    font-size:   calc(var(--font-size) + 1pt);

    cursor: pointer;
}
#channel-list-header:hover {
    background-color: var(--shade-5);
}
#group-leave {
    height: unset;
}



#connecting-screen {
    width:  100%;
    height: 100%;

    background-color: var(--shade-2);

    align-items:     center;
    justify-content: center;
}
#connecting-screen > * {
    margin-top: 10px;
}
#connecting-screen > span {
    font-family: RobotoBold;
    font-size:   var(--font-size);
}
#connecting-screen > span:nth-child(1) {
    color:     var(--accent);
    font-size: calc(var(--font-size) + 2pt);
}